/** CSS STYLE **/
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Neucha&display=swap';

:root {
  --white-color: #fff;
  --white-transparent-color: #d7ccc0;
  --color-light: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dak-color: #2a2626;
  --dartk-transparent-color: #908d8b;
  --brown-color: #b09a81;
  --blue-color: #1085c5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.2em;
  font-family: Neucha, cursive;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.section-content {
  width: 100%;
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
