/** CSS STYLE **/
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Neucha&display=swap';

:root {
  --white-color: #fff;
  --white-transparent-color: #d7ccc0;
  --color-light: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dak-color: #2a2626;
  --dartk-transparent-color: #908d8b;
  --brown-color: #b09a81;
  --blue-color: #1085c5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0 0 30px;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2em;
  font-family: Neucha, cursive;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
  color: #908D8B;
}

.orange {
  color: var(--main-color);
}

.section-bg {
  position: relative;
}

.section-bg::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.section-content {
  width: 100%;
  max-width: 1150px;
  padding: 100px 20px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.section-row {
  display: flex;
  margin: 0 -15px;
}

.section-col {
  width: 50%;
  padding: 0 15px;
}

.button {
  padding: 12px 24px;
  background: var(--main-color);
  color: var(--white-color);
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
}

.header {
  background: var(--color-light);
}

.header-image {
  position: absolute;
  top: 25px;
  right: -270px;
}

.header-top {
  height: 525px;
}

.header-title {
  position: relative;
  z-index: 1;
}

.header-button {
  margin-top: 40px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  margin-bottom: -200px;
}

.what {
  text-align: center;
}

.what-title {
  margin-bottom: 30px;
}

.navigation {
  background: var(--main-dark-color);
  padding-top: 100px;
}

.navigation-title {
  font-size: 52px;
  font-family: Neucha, cursive;
  line-height: 1.2;
  color: var(--white-color);
}

.navigation-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  width: 100%;
}

.navigation-card {
  padding: 0 15px;
  width: 33.33%;
  margin-bottom: 20px;
}

.navigation-card-inner {
  background: var(--white-color);
  height: 100%;
}

.navigation-card-inner a:link {
  display: block;
  height: 100%;
  padding: 24px;
}

.navigation-card-number {
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1;
  font-family: Neucha, cursive;
}

.cognitive-distortions-row {
  display: flex;
  margin-bottom: 100px;
}

.cognitive-distortions-img {
  vertical-align: middle;
  width: 578px;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.cognitive-distortions-content {
  width: calc(100% - 578px);
  padding-left: 30px;
}

.cognitive-distortions-content h2 {
  margin-bottom: 30px;
}

.cognitive-distortions-text {
  font-size: 34px;
  font-family: Neucha, cursive;
  line-height: 1.4;
}

.cognitive-distortions-subtitle {
  color: var(--white-color);
  background: var(--brown-color);
  padding: 5px 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.premature-optimization {
  background: var(--brown-color);
  color: var(--white-color);
}

.section-reverse {
  flex-direction: row-reverse;
}

.section-reverse .cognitive-distortions-row {
  flex-direction: row-reverse;
}

.section-reverse .cognitive-distortions-subtitle {
  background: var(--white-color);
  color: var(--brown-color);
}

.section-reverse h4 {
  color: #D7CCC0;
}